
export(TWIX, bagg, Devplot, export, get.splitvar,
	get.tree, scree.plot, splitt, splitt.padj,
	trace.plot, tune.TWIX, tune.rpart, tune.RF,
	fullrks, bootTWIX, tune.cp.TWIX)



S3method(summary, TWIX)
S3method(summary, bootTWIX)
S3method(deviance, TWIX)
S3method(bagg, bootTWIX)
S3method(bagg, TWIX)
S3method(predict, TWIX)
S3method(predict, bootTWIX)
S3method(predict, bundlTWIX)
S3method(bagg, TWIX)
S3method(print, TWIX)
S3method(print, bootTWIX)
S3method(print, id.tree)
S3method(print, single.tree)
S3method(print, padj.tree)
S3method(plot, TWIX)

useDynLib(TWIX)
